<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseM5.Properties.Settings.M52024ConnectionString"
            connectionString="Data Source=KUONG;Initial Catalog=M52024;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseM5.Properties.Settings.ConnectionString" connectionString="Data Source=KUONG;Persist Security Info=True;User ID=kuong;Password=1;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
